<!DOCTYPE html>
<html lang="{{ page.lang|default('en') }}">
    <head>
        <title>{% block title %}{{ page.title }} - {{ site.title }}{% endblock %}</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block head_meta %}
            {% set page_url = site.url ~ (page.url|trim('.', 'right')|trim('/', 'right')) ~ '/' %}
            <meta name="robots" content="index, follow">
            <meta name="description" content="{{ page.description|default(site.description) }}">
            <link rel="canonical" href="{{ page_url }}">

            <meta property="og:type" content="{{ page.og_type|default('website') }}">
            <meta property="og:url" content="{{ page_url }}">
            <meta property="og:title" content="{{ block('title') }}">
            <meta property="og:description" content="{{ page.description|default(site.description) }}">
            <meta property="og:image" content="{{ site.image }}">
        {% endblock %}

        <link href="/css/app.css" rel="stylesheet" type="text/css" />
        <script src="/js/app.js"></script>

        {% block head_styles %}{% endblock %}
        {% block head_scripts %}{% endblock %}
    </head>

    <body>
        {% block contents %}{% endblock %}
    </body>
</html>
