{% extends "blank" %}

{% block contents %}
    <div class="container">
        <div class="row g-0">
            <nav class="navbar navbar-expand col-12" style="top: 0; left: 0; right: 0;">
                <div class="collapse navbar-collapse justify-content-center">
                    {% include 'menu-items.html' %}
                </div>
            </nav>
        </div>

        {% if not page.legal_page %}
        <div id="header" class="text-center">
            <div id="invader-wrapper">
                <a href="/"></a>
            </div>
        </div>
        {% endif %}

        <div class="row justify-content-center">
            <main class="col-9">
                {% block posts %}
                {% endblock %}
            </main>
        </div>

        {% include 'footer.html' %}
    </div>
{% endblock %}
